@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: "Noto Sans KR", sans-serif;
  color: #2A2A29;
  list-style-type: none;
  text-decoration: none;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  background: transparent;
  user-select: none;
}

html, body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

button, a, input[type=button], input[type=submit] {
  cursor: pointer;
}

blockquote, q {
  quotes: none;
}

p, span {
  cursor: default;
}

p {
  word-break: keep-all;
}

table, thead, tbody, th, td {
  border-collapse: collapse;
  border-spacing: 0;
  cursor: default;
}

input::placeholder {
  color: rgba(42, 42, 41, 0.2);
}

html, body {
  width: 100%;
}
html .addWrap, body .addWrap {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
}
html .addWrap .img0, body .addWrap .img0 {
  position: absolute;
  top: 0;
  left: 0;
}
html .addWrap .img1, body .addWrap .img1 {
  position: absolute;
  bottom: 0;
  left: 0;
}
html .addWrap .img2, body .addWrap .img2 {
  position: absolute;
  bottom: 0;
  right: 0;
}
html .addWrap .img3, body .addWrap .img3 {
  position: absolute;
  top: 7.4rem;
  left: 25.93%;
}
html .addWrap .img4, body .addWrap .img4 {
  position: absolute;
  top: 30.2rem;
  right: 14.21%;
}
html .addWrap .img5, body .addWrap .img5 {
  position: absolute;
  top: 63rem;
  left: 28.75%;
}
html .addWrap .img6, body .addWrap .img6 {
  position: absolute;
  top: 95.9rem;
  left: 15.78%;
}
html .addWrap .img7, body .addWrap .img7 {
  position: absolute;
  top: 106.4rem;
  right: 17.13%;
}
html .addWrap .addWrap2, body .addWrap .addWrap2 {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 15rem;
  margin-bottom: 25rem;
}
html .addWrap .addWrap2 .addBox, body .addWrap .addWrap2 .addBox {
  width: 54.4rem;
  height: 105rem;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
html .addWrap .addWrap2 .addBox .addBoxTitle, body .addWrap .addWrap2 .addBox .addBoxTitle {
  font-size: 4rem;
  font-weight: 700;
  color: #F9A269;
}
html .addWrap .addWrap2 .addBox > form, body .addWrap .addWrap2 .addBox > form {
  width: 54.4rem;
  height: 93rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
html .addWrap .addWrap2 .addBox > form .addInfo1, body .addWrap .addWrap2 .addBox > form .addInfo1 {
  width: 53.6rem;
  height: 62.4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
html .addWrap .addWrap2 .addBox > form .addInfo1 .addInfo1Box1, body .addWrap .addWrap2 .addBox > form .addInfo1 .addInfo1Box1 {
  width: 53.6rem;
  height: 10.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
html .addWrap .addWrap2 .addBox > form .addInfo1 .addInfo1Box1 > label, body .addWrap .addWrap2 .addBox > form .addInfo1 .addInfo1Box1 > label {
  width: auto;
  height: 2.6rem;
  font-size: 1.8rem;
  font-weight: 500;
  margin-left: 0.8rem;
}
html .addWrap .addWrap2 .addBox > form .addInfo1 .addInfo1Box1 .addSearchBox, body .addWrap .addWrap2 .addBox > form .addInfo1 .addInfo1Box1 .addSearchBox {
  position: relative;
  width: 53.6rem;
  height: 7.2rem;
}
html .addWrap .addWrap2 .addBox > form .addInfo1 .addInfo1Box1 .addSearchBox > input[name=qSearch], body .addWrap .addWrap2 .addBox > form .addInfo1 .addInfo1Box1 .addSearchBox > input[name=qSearch] {
  width: 100%;
  height: 100%;
  padding: 0 1.6rem 0 4.8rem;
  background-color: #f6f6f6;
  border-radius: 1.6rem;
  font-size: 1.8rem;
}
html .addWrap .addWrap2 .addBox > form .addInfo1 .addInfo1Box1 .addSearchBox input::-ms-clear,
html .addWrap .addWrap2 .addBox > form .addInfo1 .addInfo1Box1 .addSearchBox input::-ms-reveal, body .addWrap .addWrap2 .addBox > form .addInfo1 .addInfo1Box1 .addSearchBox input::-ms-clear,
body .addWrap .addWrap2 .addBox > form .addInfo1 .addInfo1Box1 .addSearchBox input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
html .addWrap .addWrap2 .addBox > form .addInfo1 .addInfo1Box1 .addSearchBox input::-webkit-search-decoration,
html .addWrap .addWrap2 .addBox > form .addInfo1 .addInfo1Box1 .addSearchBox input::-webkit-search-cancel-button,
html .addWrap .addWrap2 .addBox > form .addInfo1 .addInfo1Box1 .addSearchBox input::-webkit-search-results-button,
html .addWrap .addWrap2 .addBox > form .addInfo1 .addInfo1Box1 .addSearchBox input::-webkit-search-results-decoration, body .addWrap .addWrap2 .addBox > form .addInfo1 .addInfo1Box1 .addSearchBox input::-webkit-search-decoration,
body .addWrap .addWrap2 .addBox > form .addInfo1 .addInfo1Box1 .addSearchBox input::-webkit-search-cancel-button,
body .addWrap .addWrap2 .addBox > form .addInfo1 .addInfo1Box1 .addSearchBox input::-webkit-search-results-button,
body .addWrap .addWrap2 .addBox > form .addInfo1 .addInfo1Box1 .addSearchBox input::-webkit-search-results-decoration {
  display: none;
}
html .addWrap .addWrap2 .addBox > form .addInfo1 .addInfo1Box1 .addSearchBox > .searchIcon, body .addWrap .addWrap2 .addBox > form .addInfo1 .addInfo1Box1 .addSearchBox > .searchIcon {
  position: absolute;
  top: 50%;
  left: 1.6rem;
  width: 2rem;
  height: 2rem;
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='32' fill='none'%3E%3Cpath fill='%23cecece' d='M32.007 29.507c-.15.6-.35 1.15-.85 1.6-1.15 1-2.6.9-3.701-.2l-6.852-6.852c-.1-.1-.15-.2-.2-.25-.85.45-1.6.9-2.4 1.25-3.501 1.45-7.002 1.45-10.453-.15-2.6-1.2-4.55-3.05-5.951-5.5C.35 17.153-.15 14.752.05 12.202.3 9.052 1.55 6.35 3.75 4.1 5.85 1.95 8.401.7 11.402.35c2.7-.35 5.251.1 7.602 1.4 2 1.05 3.6 2.55 4.801 4.451 1.25 1.95 1.95 4.101 2 6.452.1 2.5-.5 4.85-1.8 7.051-.15.25-.15.4.05.6 2.25 2.201 4.451 4.452 6.651 6.652.55.55 1.05 1.15 1.2 1.95.1.2.1.4.1.6ZM21.655 13.153c0-4.801-3.951-8.752-8.753-8.752-4.8 0-8.701 3.9-8.752 8.702-.05 4.8 3.901 8.752 8.752 8.752 4.802.05 8.752-3.901 8.752-8.702Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: translateY(-50%);
}
html .addWrap .addWrap2 .addBox > form .addInfo1 .addInfo1Box1 .addSearchBox > ul, body .addWrap .addWrap2 .addBox > form .addInfo1 .addInfo1Box1 .addSearchBox > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 7.2rem;
  width: 100%;
  padding: 1.6rem 0;
  background-color: #fff;
  border-radius: 1.6rem;
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.1);
  z-index: 200;
}
html .addWrap .addWrap2 .addBox > form .addInfo1 .addInfo1Box1 .addSearchBox > ul > li, body .addWrap .addWrap2 .addBox > form .addInfo1 .addInfo1Box1 .addSearchBox > ul > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 100%;
  height: 4.8rem;
  padding: 1.6rem;
  font-size: 1.6rem;
}
html .addWrap .addWrap2 .addBox > form .addInfo1 .addInfo1Box1 .addSearchBox > ul > li::after, body .addWrap .addWrap2 .addBox > form .addInfo1 .addInfo1Box1 .addSearchBox > ul > li::after {
  position: absolute;
  bottom: 0;
  content: "";
  width: calc(100% - 3.2rem);
  height: 1px;
  background-color: #ECECEC;
}
html .addWrap .addWrap2 .addBox > form .addInfo1 .addInfo1Box1 .addSearchBox > ul > li:last-child::after, body .addWrap .addWrap2 .addBox > form .addInfo1 .addInfo1Box1 .addSearchBox > ul > li:last-child::after {
  height: 0;
}
html .addWrap .addWrap2 .addBox > form .addInfo1 .addInfo1Box1 .addSearchBox > ul > li:hover, body .addWrap .addWrap2 .addBox > form .addInfo1 .addInfo1Box1 .addSearchBox > ul > li:hover {
  background-color: #ECECEC;
}
html .addWrap .addWrap2 .addBox > form .addInfo1 .addInfo1Box2, body .addWrap .addWrap2 .addBox > form .addInfo1 .addInfo1Box2 {
  width: 53.6rem;
  height: 10.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
html .addWrap .addWrap2 .addBox > form .addInfo1 .addInfo1Box2 > label, body .addWrap .addWrap2 .addBox > form .addInfo1 .addInfo1Box2 > label {
  width: auto;
  height: 2.6rem;
  font-size: 1.8rem;
  font-weight: 500;
  margin-left: 0.8rem;
}
html .addWrap .addWrap2 .addBox > form .addInfo1 .addInfo1Box2 > input, body .addWrap .addWrap2 .addBox > form .addInfo1 .addInfo1Box2 > input {
  width: 53.6rem;
  height: 7.2rem;
  padding-left: 1.5rem;
  font-size: 1.8rem;
  border-radius: 1.6rem;
  background-color: #F6F6F6;
}
html .addWrap .addWrap2 .addBox > form .addInfo1 .addInfo1Box2 > input::placeholder, body .addWrap .addWrap2 .addBox > form .addInfo1 .addInfo1Box2 > input::placeholder {
  color: #CECECE;
}
html .addWrap .addWrap2 .addBox > form .addInfo1 .addInfo1Box3, body .addWrap .addWrap2 .addBox > form .addInfo1 .addInfo1Box3 {
  width: 53.6rem;
  height: 18.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
html .addWrap .addWrap2 .addBox > form .addInfo1 .addInfo1Box3 > label, body .addWrap .addWrap2 .addBox > form .addInfo1 .addInfo1Box3 > label {
  width: auto;
  height: 2.6rem;
  font-size: 1.8rem;
  font-weight: 500;
  margin-left: 0.8rem;
}
html .addWrap .addWrap2 .addBox > form .addInfo1 .addInfo1Box3 > input, body .addWrap .addWrap2 .addBox > form .addInfo1 .addInfo1Box3 > input {
  width: 53.6rem;
  height: 7.2rem;
  padding-left: 1.5rem;
  font-size: 1.8rem;
  border-radius: 1.6rem;
  background-color: #F6F6F6;
}
html .addWrap .addWrap2 .addBox > form .addInfo1 .addInfo1Box3 > input::placeholder, body .addWrap .addWrap2 .addBox > form .addInfo1 .addInfo1Box3 > input::placeholder {
  color: #CECECE;
}
html .addWrap .addWrap2 .addBox > form .addInfo1 .addInfo1Box4, body .addWrap .addWrap2 .addBox > form .addInfo1 .addInfo1Box4 {
  width: 53.6rem;
  height: 17.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
html .addWrap .addWrap2 .addBox > form .addInfo1 .addInfo1Box4 > label, body .addWrap .addWrap2 .addBox > form .addInfo1 .addInfo1Box4 > label {
  width: auto;
  height: 2.6rem;
  font-size: 1.8rem;
  font-weight: 500;
  margin-left: 0.8rem;
}
html .addWrap .addWrap2 .addBox > form .addInfo1 .addInfo1Box4 > textarea, body .addWrap .addWrap2 .addBox > form .addInfo1 .addInfo1Box4 > textarea {
  width: 53.6rem;
  height: 14.4rem;
  padding: 1.5rem;
  font-size: 1.8rem;
  border-radius: 1.6rem;
  resize: none;
  background-color: #F6F6F6;
}
html .addWrap .addWrap2 .addBox > form .addInfo1 .addInfo1Box4 > textarea::placeholder, body .addWrap .addWrap2 .addBox > form .addInfo1 .addInfo1Box4 > textarea::placeholder {
  color: #CECECE;
}
html .addWrap .addWrap2 .addBox > form .addInfo1 > div:first-child, body .addWrap .addWrap2 .addBox > form .addInfo1 > div:first-child {
  margin-bottom: 1.6rem;
}
html .addWrap .addWrap2 .addBox > form .addInfo1 > div:nth-child(2), body .addWrap .addWrap2 .addBox > form .addInfo1 > div:nth-child(2) {
  margin-bottom: 1.6rem;
}
html .addWrap .addWrap2 .addBox > form .addInfo1 > div:nth-child(3), body .addWrap .addWrap2 .addBox > form .addInfo1 > div:nth-child(3) {
  margin-bottom: 1.6rem;
}
html .addWrap .addWrap2 .addBox .addInfo2, body .addWrap .addWrap2 .addBox .addInfo2 {
  width: 54.4rem;
  height: 29.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
html .addWrap .addWrap2 .addBox .addInfo2 .addInfoBoxs, body .addWrap .addWrap2 .addBox .addInfo2 .addInfoBoxs {
  width: 53.6rem;
  height: 16.2rem;
  border-radius: 1.6rem;
  border: 1px solid #ECECEC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
html .addWrap .addWrap2 .addBox .addInfo2 .addInfoBoxs > p, body .addWrap .addWrap2 .addBox .addInfo2 .addInfoBoxs > p {
  height: 2.4rem;
  width: auto;
  margin: 0 0 1.3rem 2.4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
html .addWrap .addWrap2 .addBox .addInfo2 .addInfoBoxs > p .xi-warning, body .addWrap .addWrap2 .addBox .addInfo2 .addInfoBoxs > p .xi-warning {
  height: 2.4rem;
  font-size: 2.4rem;
  color: #F16254;
}
html .addWrap .addWrap2 .addBox .addInfo2 .addInfoBoxs > p > span, body .addWrap .addWrap2 .addBox .addInfo2 .addInfoBoxs > p > span {
  height: 2.3rem;
  font-size: 1.6rem;
  font-weight: 700;
  margin: 0 0 0.5rem 0.6rem;
  color: #F16254;
}
html .addWrap .addWrap2 .addBox .addInfo2 .addInfoBoxs .addText, body .addWrap .addWrap2 .addBox .addInfo2 .addInfoBoxs .addText {
  width: 47.2rem;
  height: 7.2rem;
  margin-left: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
html .addWrap .addWrap2 .addBox .addInfo2 .addInfoBoxs .addText > p, body .addWrap .addWrap2 .addBox .addInfo2 .addInfoBoxs .addText > p {
  font-size: 1.4rem;
  color: #7F7F7F;
}
html .addWrap .addWrap2 .addBox .addInfo2 .addInfoBtn, body .addWrap .addWrap2 .addBox .addInfo2 .addInfoBtn {
  width: 54.4rem;
  height: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
html .addWrap .addWrap2 .addBox .addInfo2 .addInfoBtn .addInfoBtn1, body .addWrap .addWrap2 .addBox .addInfo2 .addInfoBtn .addInfoBtn1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 19.4rem;
  height: 8rem;
  font-size: 2.4rem;
  font-weight: 700;
  text-align: center;
  border-radius: 4rem;
  color: #fff;
  background-color: #D4D4D4;
}
html .addWrap .addWrap2 .addBox .addInfo2 .addInfoBtn .addInfoBtn1:hover, body .addWrap .addWrap2 .addBox .addInfo2 .addInfoBtn .addInfoBtn1:hover {
  background-color: #a1a1a1;
}
html .addWrap .addWrap2 .addBox .addInfo2 .addInfoBtn .addInfoBtn2, body .addWrap .addWrap2 .addBox .addInfo2 .addInfoBtn .addInfoBtn2 {
  width: 32.6rem;
  height: 8rem;
  font-size: 2.4rem;
  font-weight: 700;
  border-radius: 4rem;
  color: #fff;
  background-color: #F9A269;
}
html .addWrap .addWrap2 .addBox .addInfo2 .addInfoBtn .addInfoBtn2:hover, body .addWrap .addWrap2 .addBox .addInfo2 .addInfoBtn .addInfoBtn2:hover {
  background-color: #FA7C35;
}/*# sourceMappingURL=add.css.map */