@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: "Noto Sans KR", sans-serif;
  color: #2A2A29;
  list-style-type: none;
  text-decoration: none;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  background: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html, body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

button, a, input[type=button], input[type=submit] {
  cursor: pointer;
}

blockquote, q {
  quotes: none;
}

p, span {
  cursor: default;
}

p {
  word-break: keep-all;
}

table, thead, tbody, th, td {
  border-collapse: collapse;
  border-spacing: 0;
  cursor: default;
}

input::-moz-placeholder {
  color: rgba(42, 42, 41, 0.2);
}

input:-ms-input-placeholder {
  color: rgba(42, 42, 41, 0.2);
}

input::placeholder {
  color: rgba(42, 42, 41, 0.2);
}

.mainWrap {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
}
.mainWrap aside {
  overflow-x: hidden;
  overflow-y: scroll;
  width: 64rem;
  height: 100%;
  padding: 5.6rem 4rem 0;
  background-color: #fff;
  box-shadow: 0.4rem 0 0.4rem rgba(0, 0, 0, 0.04);
}
.mainWrap aside > div {
  position: relative;
  height: 7.2rem;
  margin-bottom: 3.2rem;
}
.mainWrap aside > div > input[name=qSearch] {
  width: 100%;
  height: 100%;
  padding: 0 1.6rem 0 4.8rem;
  background-color: #f6f6f6;
  border-radius: 1.6rem;
  font-size: 1.8rem;
}
.mainWrap aside > div input::-ms-clear,
.mainWrap aside > div input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
.mainWrap aside > div input::-webkit-search-decoration,
.mainWrap aside > div input::-webkit-search-cancel-button,
.mainWrap aside > div input::-webkit-search-results-button,
.mainWrap aside > div input::-webkit-search-results-decoration {
  display: none;
}
.mainWrap aside > div > .searchIcon {
  position: absolute;
  top: 50%;
  left: 1.6rem;
  width: 2rem;
  height: 2rem;
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='32' fill='none'%3E%3Cpath fill='%23cecece' d='M32.007 29.507c-.15.6-.35 1.15-.85 1.6-1.15 1-2.6.9-3.701-.2l-6.852-6.852c-.1-.1-.15-.2-.2-.25-.85.45-1.6.9-2.4 1.25-3.501 1.45-7.002 1.45-10.453-.15-2.6-1.2-4.55-3.05-5.951-5.5C.35 17.153-.15 14.752.05 12.202.3 9.052 1.55 6.35 3.75 4.1 5.85 1.95 8.401.7 11.402.35c2.7-.35 5.251.1 7.602 1.4 2 1.05 3.6 2.55 4.801 4.451 1.25 1.95 1.95 4.101 2 6.452.1 2.5-.5 4.85-1.8 7.051-.15.25-.15.4.05.6 2.25 2.201 4.451 4.452 6.651 6.652.55.55 1.05 1.15 1.2 1.95.1.2.1.4.1.6ZM21.655 13.153c0-4.801-3.951-8.752-8.753-8.752-4.8 0-8.701 3.9-8.752 8.702-.05 4.8 3.901 8.752 8.752 8.752 4.802.05 8.752-3.901 8.752-8.702Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: translateY(-50%);
}
.mainWrap aside > div > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 7.2rem;
  width: 100%;
  padding: 1.6rem 0;
  background-color: #fff;
  border-radius: 1.6rem;
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.1);
  z-index: 200;
}
.mainWrap aside > div > ul > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 100%;
  height: 4.8rem;
  padding: 1.6rem;
  font-size: 1.6rem;
}
.mainWrap aside > div > ul > li::after {
  position: absolute;
  bottom: 0;
  content: "";
  width: calc(100% - 3.2rem);
  height: 1px;
  background-color: #ECECEC;
}
.mainWrap aside > div > ul > li:last-child::after {
  height: 0;
}
.mainWrap aside > div > ul > li:hover {
  background-color: #ECECEC;
}
.mainWrap aside > .mainList {
  padding-top: 4.8rem;
  border-top: 1px solid #F9A269;
}
.mainWrap aside > .mainList > header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2.2rem;
}
.mainWrap aside > .mainList > header > img {
  width: 6.4rem;
  height: 6.4rem;
  margin-right: 1.6rem;
  background-color: #111;
  border-radius: 50%;
}
.mainWrap aside > .mainList > header > p {
  font-size: 1.8rem;
}
.mainWrap aside > .mainList > header > p > span {
  font-size: 1.8rem;
  font-weight: bold;
}
.mainWrap aside > .mainList > .mainEatList > article {
  padding: 2.4rem;
  border-radius: 2.4rem;
  background-color: #FFF9F2;
  margin-bottom: 2.4rem;
}
.mainWrap aside > .mainList > .mainEatList > article > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 0.8rem;
}
.mainWrap aside > .mainList > .mainEatList > article > div > span {
  display: inline-block;
  font-size: 2rem;
  font-weight: 500;
}
.mainWrap aside > .mainList > .mainEatList > article > div > button {
  width: 3.2rem;
  height: 3.2rem;
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='none'%3E%3Cg fill='%23F9A269' clip-path='url(%23a)'%3E%3Cpath d='M.25 16c.05-.15.1-.3.1-.45.5-2.05 2.45-3.35 4.6-3 1.95.3 3.45 2.2 3.25 4.25-.15 2-1.8 3.6-3.75 3.7C2.4 20.6.6 19.2.3 17.2c0-.05-.05-.1-.05-.15V16ZM16.25 20.5c-2.2 0-4-1.8-4-4s1.8-4 4-4 4 1.8 4 4-1.8 4-4 4ZM28.25 12.5c2.2 0 4 1.8 4 4s-1.8 4-4 4-4-1.8-4-4 1.8-4 4-4Z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h32v32H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.mainWrap aside > .mainList > .mainEatList > article > div > button:hover {
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='none'%3E%3Cg fill='%23F16254' clip-path='url(%23a)'%3E%3Cpath d='M.25 16c.05-.15.1-.3.1-.45.5-2.05 2.45-3.35 4.6-3 1.95.3 3.45 2.2 3.25 4.25-.15 2-1.8 3.6-3.75 3.7C2.4 20.6.6 19.2.3 17.2c0-.05-.05-.1-.05-.15V16ZM16.25 20.5c-2.2 0-4-1.8-4-4s1.8-4 4-4 4 1.8 4 4-1.8 4-4 4ZM28.25 12.5c2.2 0 4 1.8 4 4s-1.8 4-4 4-4-1.8-4-4 1.8-4 4-4Z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h32v32H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}
.mainWrap aside > .mainList > .mainEatList > article > p {
  width: 40rem;
  margin-bottom: 1.6rem;
  font-size: 1.4rem;
  white-space: pre-wrap;
  color: #7B7B7B;
}
.mainWrap aside > .mainList > .mainEatList > article > .starList {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.mainWrap aside > .mainList > .mainEatList > article > .starList > li {
  width: 2.4rem;
  height: 2.4rem;
  background-image: url(../img/emptyStar.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 0.8rem;
}
.mainWrap aside > .mainList > .mainEatList > article > .starList > li[class=activeStar] {
  background-image: url(../img/colorStar.png);
}
.mainWrap .mainMapWrap {
  width: 70%;
  height: 100%;
}
.mainWrap .mainMapWrap #mainMap {
  width: 100%;
  height: 100%;
}
.mainWrap .mainMapWrap .adminButton {
  position: absolute;
  right: 6.4rem;
  bottom: 16.8rem;
  width: 8rem;
  height: 8rem;
  background-image: url("data:image/svg+xml,%0A%3Csvg width='96' height='96' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='48' cy='48' r='48' fill='%238DA1FB'/%3E%3Cpath d='M44.438 28h7.187c.625.188.938.625 1.063 1.25.124.813.312 1.625.562 2.438.063.125.188.312.313.375.624.25 1.25.5 1.812.75.188.187.313.187.5.062.75-.5 1.438-.938 2.188-1.438.75-.437 1.25-.437 1.874.188l4.5 4.5c.626.625.688 1.125.188 1.875-.5.75-.938 1.5-1.438 2.25-.062.125-.062.313-.062.438l.75 1.874c.063.126.25.313.375.313.813.188 1.625.375 2.5.563.625.124 1.063.437 1.25 1v7.187c-.188.625-.625.938-1.25 1a20.23 20.23 0 0 0-2.5.563c-.125.062-.313.187-.375.312-.313.625-.563 1.25-.75 1.875a.385.385 0 0 0 .063.438c.437.75.937 1.5 1.437 2.25.438.75.438 1.25-.188 1.874l-4.5 4.5c-.624.626-1.124.688-1.874.188-.75-.438-1.5-.938-2.188-1.438-.188-.124-.313-.124-.5-.062-.625.25-1.25.5-1.813.75-.124.063-.312.25-.312.375l-.563 2.438c-.124.624-.437 1.062-1.062 1.25h-7.188c-.624-.188-.937-.626-1.062-1.25a17.148 17.148 0 0 0-.563-2.438c-.062-.125-.187-.313-.312-.375a11.731 11.731 0 0 0-1.875-.75.385.385 0 0 0-.438.063c-.75.437-1.5.937-2.25 1.437-.75.438-1.25.438-1.874-.188l-4.5-4.5c-.625-.624-.688-1.124-.188-1.874.5-.75.938-1.5 1.438-2.25.062-.126.062-.313.062-.438l-.75-1.875c-.063-.125-.25-.313-.375-.313-.813-.187-1.625-.374-2.5-.562-.625-.125-1.063-.438-1.25-1v-7.188c.188-.624.625-.937 1.25-1a20.23 20.23 0 0 0 2.5-.562c.125-.063.313-.188.375-.313.313-.624.563-1.25.75-1.874a.385.385 0 0 0-.063-.438c-.437-.75-.937-1.5-1.437-2.25-.438-.75-.438-1.25.188-1.875l4.5-4.5c.624-.625 1.124-.625 1.874-.188.75.5 1.5.938 2.25 1.438.126.063.313.063.438.063.625-.25 1.25-.5 1.875-.813a.64.64 0 0 0 .313-.375c.187-.813.374-1.688.562-2.5.125-.625.438-1.063 1.063-1.25zM48 40.813c-3.938 0-7.125 3.187-7.188 7.124 0 3.938 3.25 7.188 7.188 7.188 3.938 0 7.188-3.25 7.188-7.188-.063-3.874-3.25-7.124-7.188-7.124z' fill='%23fff'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 50%;
  z-index: 100;
  display:none;
}
.mainWrap .mainMapWrap .adminButton:hover {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='96' height='96' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='48' cy='48' r='48' fill='%23667CDD'/%3E%3Cpath d='M44.438 28h7.187c.625.188.938.625 1.063 1.25.124.813.312 1.625.562 2.438.063.125.188.312.313.375.624.25 1.25.5 1.812.75.188.187.313.187.5.062.75-.5 1.438-.938 2.188-1.438.75-.437 1.25-.437 1.874.188l4.5 4.5c.626.625.688 1.125.188 1.875-.5.75-.938 1.5-1.438 2.25-.062.125-.062.313-.062.438l.75 1.874c.063.126.25.313.375.313.813.188 1.625.375 2.5.563.625.124 1.063.437 1.25 1v7.187c-.188.625-.625.938-1.25 1a20.23 20.23 0 0 0-2.5.563c-.125.062-.313.187-.375.312-.313.625-.563 1.25-.75 1.875a.385.385 0 0 0 .063.438c.437.75.937 1.5 1.437 2.25.438.75.438 1.25-.188 1.874l-4.5 4.5c-.624.626-1.124.688-1.874.188-.75-.438-1.5-.938-2.188-1.438-.188-.124-.313-.124-.5-.062-.625.25-1.25.5-1.813.75-.124.063-.312.25-.312.375l-.563 2.438c-.124.624-.437 1.062-1.062 1.25h-7.188c-.624-.188-.937-.626-1.062-1.25a17.148 17.148 0 0 0-.563-2.438c-.062-.125-.187-.313-.312-.375a11.731 11.731 0 0 0-1.875-.75.385.385 0 0 0-.438.063c-.75.437-1.5.937-2.25 1.437-.75.438-1.25.438-1.874-.188l-4.5-4.5c-.625-.624-.688-1.124-.188-1.874.5-.75.938-1.5 1.438-2.25.062-.126.062-.313.062-.438l-.75-1.875c-.063-.125-.25-.313-.375-.313-.813-.187-1.625-.374-2.5-.562-.625-.125-1.063-.438-1.25-1v-7.188c.188-.624.625-.937 1.25-1a20.23 20.23 0 0 0 2.5-.562c.125-.063.313-.188.375-.313.313-.624.563-1.25.75-1.874a.385.385 0 0 0-.063-.438c-.437-.75-.937-1.5-1.437-2.25-.438-.75-.438-1.25.188-1.875l4.5-4.5c.624-.625 1.124-.625 1.874-.188.75.5 1.5.938 2.25 1.438.126.063.313.063.438.063.625-.25 1.25-.5 1.875-.813a.64.64 0 0 0 .313-.375c.187-.813.374-1.688.562-2.5.125-.625.438-1.063 1.063-1.25zM48 40.813c-3.938 0-7.125 3.187-7.188 7.124 0 3.938 3.25 7.188 7.188 7.188 3.938 0 7.188-3.25 7.188-7.188-.063-3.874-3.25-7.124-7.188-7.124z' fill='%23fff'/%3E%3C/svg%3E");
}
.mainWrap .mainMapWrap .addButton {
  position: absolute;
  right: 6.4rem;
  bottom: 6.4rem;
  width: 8rem;
  height: 8rem;
  background-image: url("data:image/svg+xml,%3Csvg width='96' height='96' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='48' cy='48' r='48' fill='%23F9A269'/%3E%3Cg clip-path='url(%23a)' fill-rule='evenodd' clip-rule='evenodd' fill='%23fff'%3E%3Cpath d='M26.387 43.153v-1.406c.266-.689.781-.919 1.5-.918 12.333.01 24.666.01 37 0 .718 0 1.234.23 1.5.918v1.406c-.026.178-.063.355-.078.533a19.084 19.084 0 0 1-1.093 5.013c-1.694 4.608-4.669 8.152-8.915 10.616a1.926 1.926 0 0 1-.916.26c-6 .014-11.998.013-17.997.002-.274 0-.58-.068-.816-.201a19.728 19.728 0 0 1-5.57-4.648c-2.2-2.66-3.63-5.682-4.266-9.073-.155-.827-.235-1.668-.35-2.502zM46.386 38.492c-5.038 0-10.076-.004-15.114.01-.356 0-.513-.1-.637-.44-1.102-3.028.636-6.52 3.748-7.47.282-.087.419-.22.504-.5.883-2.888 3.922-4.62 6.865-3.918.239.057.403.018.59-.153 2.168-1.987 5.919-1.99 8.083-.004.202.186.377.21.627.15 2.909-.695 5.953 1.05 6.831 3.92.085.276.214.416.5.504 3.15.96 4.856 4.445 3.723 7.539-.115.313-.274.369-.567.368-5.051-.008-10.102-.005-15.153-.005zm-9.448-4.694a1.16 1.16 0 0 0 1.164-1.166 1.178 1.178 0 0 0-1.175-1.161 1.18 1.18 0 0 0-1.164 1.173 1.162 1.162 0 0 0 1.175 1.154zm14.228 0a1.16 1.16 0 0 0 1.155-1.174 1.177 1.177 0 0 0-1.183-1.153 1.18 1.18 0 0 0-1.156 1.182 1.162 1.162 0 0 0 1.184 1.145zm4.66 2.344a1.161 1.161 0 0 0 1.183-1.146 1.179 1.179 0 0 0-1.157-1.182 1.178 1.178 0 0 0-1.182 1.155 1.16 1.16 0 0 0 1.157 1.173zM56.76 61.963c-.474 1.318-1.665 2.215-3.015 2.289-.325.017-.65.02-.976.02-4.413.001-8.826-.02-13.239.011-1.92.013-3.056-1.125-3.473-2.175-.014-.035-.022-.072-.044-.144H56.76z'/%3E%3C/g%3E%3Cmask id='b' maskUnits='userSpaceOnUse' x='47' y='50' width='25' height='24' fill='%23000'%3E%3Cpath fill='%23fff' d='M47 50h25v24H47z'/%3E%3Cpath d='M69 62.192c-.125.282-.188.594-.344.845-.376.531-.94.75-1.566.75h-5.762c-.438 0-.532.094-.532.531v5.753c0 .5-.126.97-.47 1.345-.532.562-1.19.719-1.91.469-.626-.188-1.096-.813-1.159-1.47-.031-.188-.031-.406-.031-.594v-5.534c0-.406-.094-.5-.501-.5h-5.793c-.501 0-.97-.125-1.347-.47-.563-.53-.72-1.187-.47-1.906.157-.626.783-1.126 1.41-1.157.188-.031.407-.031.595-.031h5.542c.407 0 .501-.094.501-.5v-5.785c0-.469.094-.875.407-1.25a1.883 1.883 0 0 1 1.128-.657c.031 0 .062-.031.062-.031h.407c.032 0 .032.031.063.031.47.063.846.282 1.127.657.313.375.407.781.407 1.25v5.753c0 .438.094.532.533.532h5.761c.658 0 1.19.187 1.566.75.157.25.25.563.345.844.031.125.031.25.031.375z'/%3E%3C/mask%3E%3Cpath d='M69 62.192c-.125.282-.188.594-.344.845-.376.531-.94.75-1.566.75h-5.762c-.438 0-.532.094-.532.531v5.753c0 .5-.126.97-.47 1.345-.532.562-1.19.719-1.91.469-.626-.188-1.096-.813-1.159-1.47-.031-.188-.031-.406-.031-.594v-5.534c0-.406-.094-.5-.501-.5h-5.793c-.501 0-.97-.125-1.347-.47-.563-.53-.72-1.187-.47-1.906.157-.626.783-1.126 1.41-1.157.188-.031.407-.031.595-.031h5.542c.407 0 .501-.094.501-.5v-5.785c0-.469.094-.875.407-1.25a1.883 1.883 0 0 1 1.128-.657c.031 0 .062-.031.062-.031h.407c.032 0 .032.031.063.031.47.063.846.282 1.127.657.313.375.407.781.407 1.25v5.753c0 .438.094.532.533.532h5.761c.658 0 1.19.187 1.566.75.157.25.25.563.345.844.031.125.031.25.031.375z' fill='%23fff'/%3E%3Cpath d='m69 62.192 1.827.814.173-.389v-.425h-2zm-.344.845 1.633 1.154.032-.046.03-.047-1.695-1.061zm-8.33 8.379 1.453 1.374.01-.01.01-.012-1.473-1.352zm-1.91.469.656-1.89-.04-.014-.042-.012-.574 1.916zm-1.159-1.47 1.991-.19-.006-.07-.012-.07-1.973.33zm-7.672-7.097-1.372 1.455.011.01.011.01 1.35-1.475zm-.47-1.907 1.89.658.029-.085.022-.087-1.94-.486zm1.41-1.157.1 1.998.114-.006.114-.02-.328-1.972zm7.045-7.566 1.536 1.281.006-.007.005-.007-1.547-1.267zm1.128-.657v-2H58.5l-.194.039.392 1.961zM58.76 52v-2h-.827l-.586.585L58.76 52zm.47.031.264-1.982-.131-.018h-.133v2zm1.127.657-1.599 1.201.031.041.033.04 1.535-1.282zm8.267 8.285 1.696-1.061-.016-.025-.017-.025-1.663 1.111zm.345.844 1.94-.486-.019-.074-.024-.073-1.897.633zm-1.796-.438a5.054 5.054 0 0 0-.187.488l-.033.095c-.044.125-.04.088.007.013l3.39 2.123a4 4 0 0 0 .376-.808c.08-.227.082-.241.101-.284l-3.654-1.627zm-.15.503a.326.326 0 0 1 .116-.091c.04-.019.034-.004-.05-.004v4c1.117 0 2.366-.416 3.2-1.596l-3.267-2.309zm.067-.095H61.328v4H67.09v-4zm-5.762 0c-.155 0-.416.006-.701.069a2.314 2.314 0 0 0-1.143.617c-.39.39-.55.835-.619 1.143a3.23 3.23 0 0 0-.07.702h4c0-.063.007.022-.026.167a1.69 1.69 0 0 1-.458.819c-.313.312-.651.42-.818.457-.144.032-.229.026-.165.026v-4zm-2.532 2.531V70.071h4V64.318h-4zm0 5.753c0 .042-.003.07-.005.086-.002.016-.004.018-.001.01a.324.324 0 0 1 .063-.104l2.946 2.705c.781-.85.997-1.862.997-2.697h-4zm.077-.03c-.023.025-.028.024-.008.012A.38.38 0 0 1 59.08 70c.023.001.022.005-.008-.006l-1.312 3.779a3.792 3.792 0 0 0 2.155.124 3.802 3.802 0 0 0 1.864-1.108l-2.906-2.749zm.117-.072c.139.041.2.11.214.13a.227.227 0 0 1 .044.126l-3.982.38c.132 1.38 1.09 2.75 2.576 3.195l1.148-3.831zm.24.117c.004.022 0 .013-.002-.045a5.892 5.892 0 0 1-.002-.22h-4c0 .148-.005.541.059.923l3.945-.658zm-.004-.265V64.288h-4V69.82h4zm0-5.534c0-.157.036-1.098-.685-1.818-.72-.719-1.66-.682-1.816-.682v4c.05 0-.045.005-.197-.03a1.7 1.7 0 0 1-.813-.457 1.702 1.702 0 0 1-.46-.814c-.034-.153-.03-.248-.03-.199h4zm-2.501-2.5H50.932v4H56.724v-4zm-5.793 0a.647.647 0 0 1-.088-.005c-.016-.002-.019-.004-.01-.001a.32.32 0 0 1 .102.062l-2.701 2.95c.851.78 1.863.994 2.697.994v-4zm.025.076c-.025-.024-.023-.028-.01-.008.012.021.03.057.041.105a.387.387 0 0 1 .011.114c-.001.025-.005.024.005-.005l-3.777-1.316a3.784 3.784 0 0 0-.125 2.156c.183.75.592 1.374 1.111 1.864l2.744-2.91zm.099.034a.477.477 0 0 1-.15.264.47.47 0 0 1-.282.09l-.199-3.994c-1.491.074-2.875 1.175-3.25 2.668l3.88.972zm-.203.33c-.022.003-.012 0 .046-.002a5.98 5.98 0 0 1 .22-.002v-4c-.148 0-.54-.005-.922.058l.656 3.946zm.267-.004H56.662v-4H51.12v4zm5.542 0c.157 0 1.096.036 1.817-.683.72-.72.684-1.66.684-1.818h-4c0 .05-.005-.045.03-.198.04-.176.153-.508.46-.814a1.7 1.7 0 0 1 .812-.458c.153-.035.247-.03.197-.03v4zm2.501-2.5V53.938h-4V59.722h4zm0-5.785c0-.104.011-.116 0-.081a.375.375 0 0 1-.057.112l-3.071-2.563c-.704.844-.872 1.76-.872 2.532h4zm-.046.017a.212.212 0 0 1-.047.038c-.01.006-.015.008-.013.008.001 0 .011-.004.032-.008l-.783-3.923a3.881 3.881 0 0 0-2.282 1.35l3.093 2.535zm-.42.076a2.08 2.08 0 0 0 1.465-.604l.006-.006.003-.003.001-.001v-.001L58.76 52a412.474 412.474 0 0 1-1.411-1.417l.001-.001.003-.003.005-.005.012-.012a1.544 1.544 0 0 1 .085-.077 1.843 1.843 0 0 1 .524-.316 1.94 1.94 0 0 1 .719-.138v4zM58.76 54H59.167v-4H58.76v4zm.407 0a1.954 1.954 0 0 1-1.362-.55l-.02-.019.008.007.018.018a2.132 2.132 0 0 0 .373.286 2.044 2.044 0 0 0 1.046.29v-4a1.954 1.954 0 0 1 1.363.55l.019.018-.007-.007-.018-.018a2.052 2.052 0 0 0-1.42-.575v4zm-.2.014s-.013-.002-.034-.009a.409.409 0 0 1-.175-.116l3.198-2.402a3.622 3.622 0 0 0-2.462-1.438l-.528 3.965zm-.145-.045a.37.37 0 0 1-.058-.113c-.01-.034 0-.022 0 .082h4c0-.772-.167-1.688-.871-2.532l-3.071 2.563zm-.058-.03V59.69h4V53.938h-4zm0 5.752c0 .155.006.417.07.702.068.309.228.753.62 1.143.39.39.834.55 1.141.618.286.063.547.069.702.069v-4c-.064 0 .02-.006.165.026.167.037.505.145.817.457.313.312.422.65.46.818.032.145.025.23.025.167h-4zm2.533 2.532H67.058v-4H61.298v4zm5.761 0c.148 0 .145.022.073-.01a.498.498 0 0 1-.118-.075c-.036-.031-.052-.055-.052-.054l3.326-2.222c-.857-1.284-2.13-1.64-3.229-1.64v4zm-.129-.189c-.02-.031-.011-.026.02.058a4.064 4.064 0 0 1 .085.245l.038.114 3.794-1.267c-.056-.166-.231-.768-.546-1.272l-3.391 2.122zm.1.269A.985.985 0 0 1 67 62.13c0-.01 0-.011 0 0v.062h4c0-.087.01-.458-.091-.86l-3.88.971z' fill='%23F9A269' mask='url(%23b)'/%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' transform='translate(26 24)' d='M0 0h40v40H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 50%;
  z-index: 100;
}
.mainWrap .mainMapWrap .addButton:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='96' height='96' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='48' cy='48' r='48' fill='%23FA7C35'/%3E%3Cg clip-path='url(%23a)' fill-rule='evenodd' clip-rule='evenodd' fill='%23fff'%3E%3Cpath d='M26.387 43.153v-1.406c.266-.689.781-.919 1.5-.918 12.333.01 24.666.01 37 0 .718 0 1.234.23 1.5.918v1.406c-.026.178-.063.355-.078.533a19.084 19.084 0 0 1-1.093 5.013c-1.694 4.608-4.669 8.152-8.915 10.616a1.926 1.926 0 0 1-.916.26c-6 .014-11.998.013-17.997.002-.274 0-.58-.068-.816-.201a19.728 19.728 0 0 1-5.57-4.648c-2.2-2.66-3.63-5.682-4.266-9.073-.155-.827-.235-1.668-.35-2.502zM46.386 38.492c-5.038 0-10.076-.004-15.114.01-.356 0-.513-.1-.637-.44-1.102-3.028.636-6.52 3.748-7.47.282-.087.419-.22.504-.5.883-2.888 3.922-4.62 6.865-3.918.239.057.403.018.59-.153 2.168-1.987 5.919-1.99 8.083-.004.202.186.377.21.627.15 2.909-.695 5.953 1.05 6.831 3.92.085.276.214.416.5.504 3.15.96 4.856 4.445 3.723 7.539-.115.313-.274.369-.567.368-5.051-.008-10.102-.005-15.153-.005zm-9.448-4.694a1.16 1.16 0 0 0 1.164-1.166 1.178 1.178 0 0 0-1.175-1.161 1.18 1.18 0 0 0-1.164 1.173 1.162 1.162 0 0 0 1.175 1.154zm14.228 0a1.16 1.16 0 0 0 1.155-1.174 1.177 1.177 0 0 0-1.183-1.153 1.18 1.18 0 0 0-1.156 1.182 1.162 1.162 0 0 0 1.184 1.145zm4.66 2.344a1.161 1.161 0 0 0 1.183-1.146 1.179 1.179 0 0 0-1.157-1.182 1.178 1.178 0 0 0-1.182 1.155 1.16 1.16 0 0 0 1.157 1.173zM56.76 61.963c-.474 1.318-1.665 2.215-3.015 2.289-.325.017-.65.02-.976.02-4.413.001-8.826-.02-13.239.011-1.92.013-3.056-1.125-3.473-2.175-.014-.035-.022-.072-.044-.144H56.76z'/%3E%3C/g%3E%3Cmask id='b' maskUnits='userSpaceOnUse' x='47' y='50' width='25' height='24' fill='%23000'%3E%3Cpath fill='%23fff' d='M47 50h25v24H47z'/%3E%3Cpath d='M69 62.192c-.125.282-.188.594-.344.845-.376.531-.94.75-1.566.75h-5.762c-.438 0-.532.094-.532.531v5.753c0 .5-.126.97-.47 1.345-.532.562-1.19.719-1.91.469-.626-.188-1.096-.813-1.159-1.47-.031-.188-.031-.406-.031-.594v-5.534c0-.406-.094-.5-.501-.5h-5.793c-.501 0-.97-.125-1.347-.47-.563-.53-.72-1.187-.47-1.906.157-.626.783-1.126 1.41-1.157.188-.031.407-.031.595-.031h5.542c.407 0 .501-.094.501-.5v-5.785c0-.469.094-.875.407-1.25a1.883 1.883 0 0 1 1.128-.657c.031 0 .062-.031.062-.031h.407c.032 0 .032.031.063.031.47.063.846.282 1.127.657.313.375.407.781.407 1.25v5.753c0 .438.094.532.533.532h5.761c.658 0 1.19.187 1.566.75.157.25.25.563.345.844.031.125.031.25.031.375z'/%3E%3C/mask%3E%3Cpath d='M69 62.192c-.125.282-.188.594-.344.845-.376.531-.94.75-1.566.75h-5.762c-.438 0-.532.094-.532.531v5.753c0 .5-.126.97-.47 1.345-.532.562-1.19.719-1.91.469-.626-.188-1.096-.813-1.159-1.47-.031-.188-.031-.406-.031-.594v-5.534c0-.406-.094-.5-.501-.5h-5.793c-.501 0-.97-.125-1.347-.47-.563-.53-.72-1.187-.47-1.906.157-.626.783-1.126 1.41-1.157.188-.031.407-.031.595-.031h5.542c.407 0 .501-.094.501-.5v-5.785c0-.469.094-.875.407-1.25a1.883 1.883 0 0 1 1.128-.657c.031 0 .062-.031.062-.031h.407c.032 0 .032.031.063.031.47.063.846.282 1.127.657.313.375.407.781.407 1.25v5.753c0 .438.094.532.533.532h5.761c.658 0 1.19.187 1.566.75.157.25.25.563.345.844.031.125.031.25.031.375z' fill='%23fff'/%3E%3Cpath d='m69 62.192 1.827.814.173-.389v-.425h-2zm-.344.845 1.633 1.154.032-.046.03-.047-1.695-1.061zm-8.33 8.379 1.453 1.374.01-.01.01-.012-1.473-1.352zm-1.91.469.656-1.89-.04-.014-.042-.012-.574 1.916zm-1.159-1.47 1.991-.19-.006-.07-.012-.07-1.973.33zm-7.672-7.097-1.372 1.455.011.01.011.01 1.35-1.475zm-.47-1.907 1.89.658.029-.085.022-.087-1.94-.486zm1.41-1.157.1 1.998.114-.006.114-.02-.328-1.972zm7.045-7.566 1.536 1.281.006-.007.005-.007-1.547-1.267zm1.128-.657v-2H58.5l-.194.039.392 1.961zM58.76 52v-2h-.827l-.586.585L58.76 52zm.47.031.264-1.982-.131-.018h-.133v2zm1.127.657-1.599 1.201.031.041.033.04 1.535-1.282zm8.267 8.285 1.696-1.061-.016-.025-.017-.025-1.663 1.111zm.345.844 1.94-.486-.019-.074-.024-.073-1.897.633zm-1.796-.438a5.054 5.054 0 0 0-.187.488l-.033.095c-.044.125-.04.088.007.013l3.39 2.123a4 4 0 0 0 .376-.808c.08-.227.082-.241.101-.284l-3.654-1.627zm-.15.503a.326.326 0 0 1 .116-.091c.04-.019.034-.004-.05-.004v4c1.117 0 2.366-.416 3.2-1.596l-3.267-2.309zm.067-.095H61.328v4H67.09v-4zm-5.762 0c-.155 0-.416.006-.701.069a2.314 2.314 0 0 0-1.143.617c-.39.39-.55.835-.619 1.143a3.23 3.23 0 0 0-.07.702h4c0-.063.007.022-.026.167a1.69 1.69 0 0 1-.458.819c-.313.312-.651.42-.818.457-.144.032-.229.026-.165.026v-4zm-2.532 2.531V70.071h4V64.318h-4zm0 5.753c0 .042-.003.07-.005.086-.002.016-.004.018-.001.01a.324.324 0 0 1 .063-.104l2.946 2.705c.781-.85.997-1.862.997-2.697h-4zm.077-.03c-.023.025-.028.024-.008.012A.38.38 0 0 1 59.08 70c.023.001.022.005-.008-.006l-1.312 3.779a3.792 3.792 0 0 0 2.155.124 3.802 3.802 0 0 0 1.864-1.108l-2.906-2.749zm.117-.072c.139.041.2.11.214.13a.227.227 0 0 1 .044.126l-3.982.38c.132 1.38 1.09 2.75 2.576 3.195l1.148-3.831zm.24.117c.004.022 0 .013-.002-.045a5.892 5.892 0 0 1-.002-.22h-4c0 .148-.005.541.059.923l3.945-.658zm-.004-.265V64.288h-4V69.82h4zm0-5.534c0-.157.036-1.098-.685-1.818-.72-.719-1.66-.682-1.816-.682v4c.05 0-.045.005-.197-.03a1.7 1.7 0 0 1-.813-.457 1.702 1.702 0 0 1-.46-.814c-.034-.153-.03-.248-.03-.199h4zm-2.501-2.5H50.932v4H56.724v-4zm-5.793 0a.647.647 0 0 1-.088-.005c-.016-.002-.019-.004-.01-.001a.32.32 0 0 1 .102.062l-2.701 2.95c.851.78 1.863.994 2.697.994v-4zm.025.076c-.025-.024-.023-.028-.01-.008.012.021.03.057.041.105a.387.387 0 0 1 .011.114c-.001.025-.005.024.005-.005l-3.777-1.316a3.784 3.784 0 0 0-.125 2.156c.183.75.592 1.374 1.111 1.864l2.744-2.91zm.099.034a.477.477 0 0 1-.15.264.47.47 0 0 1-.282.09l-.199-3.994c-1.491.074-2.875 1.175-3.25 2.668l3.88.972zm-.203.33c-.022.003-.012 0 .046-.002a5.98 5.98 0 0 1 .22-.002v-4c-.148 0-.54-.005-.922.058l.656 3.946zm.267-.004H56.662v-4H51.12v4zm5.542 0c.157 0 1.096.036 1.817-.683.72-.72.684-1.66.684-1.818h-4c0 .05-.005-.045.03-.198.04-.176.153-.508.46-.814a1.7 1.7 0 0 1 .812-.458c.153-.035.247-.03.197-.03v4zm2.501-2.5V53.938h-4V59.722h4zm0-5.785c0-.104.011-.116 0-.081a.375.375 0 0 1-.057.112l-3.071-2.563c-.704.844-.872 1.76-.872 2.532h4zm-.046.017a.212.212 0 0 1-.047.038c-.01.006-.015.008-.013.008.001 0 .011-.004.032-.008l-.783-3.923a3.881 3.881 0 0 0-2.282 1.35l3.093 2.535zm-.42.076a2.08 2.08 0 0 0 1.465-.604l.006-.006.003-.003.001-.001v-.001L58.76 52a412.474 412.474 0 0 1-1.411-1.417l.001-.001.003-.003.005-.005.012-.012a1.544 1.544 0 0 1 .085-.077 1.843 1.843 0 0 1 .524-.316 1.94 1.94 0 0 1 .719-.138v4zM58.76 54H59.167v-4H58.76v4zm.407 0a1.954 1.954 0 0 1-1.362-.55l-.02-.019.008.007.018.018a2.132 2.132 0 0 0 .373.286 2.044 2.044 0 0 0 1.046.29v-4a1.954 1.954 0 0 1 1.363.55l.019.018-.007-.007-.018-.018a2.052 2.052 0 0 0-1.42-.575v4zm-.2.014s-.013-.002-.034-.009a.409.409 0 0 1-.175-.116l3.198-2.402a3.622 3.622 0 0 0-2.462-1.438l-.528 3.965zm-.145-.045a.37.37 0 0 1-.058-.113c-.01-.034 0-.022 0 .082h4c0-.772-.167-1.688-.871-2.532l-3.071 2.563zm-.058-.03V59.69h4V53.938h-4zm0 5.752c0 .155.006.417.07.702.068.309.228.753.62 1.143.39.39.834.55 1.141.618.286.063.547.069.702.069v-4c-.064 0 .02-.006.165.026.167.037.505.145.817.457.313.312.422.65.46.818.032.145.025.23.025.167h-4zm2.533 2.532H67.058v-4H61.298v4zm5.761 0c.148 0 .145.022.073-.01a.498.498 0 0 1-.118-.075c-.036-.031-.052-.055-.052-.054l3.326-2.222c-.857-1.284-2.13-1.64-3.229-1.64v4zm-.129-.189c-.02-.031-.011-.026.02.058a4.064 4.064 0 0 1 .085.245l.038.114 3.794-1.267c-.056-.166-.231-.768-.546-1.272l-3.391 2.122zm.1.269A.985.985 0 0 1 67 62.13c0-.01 0-.011 0 0v.062h4c0-.087.01-.458-.091-.86l-3.88.971z' fill='%23FA7C35' mask='url(%23b)'/%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' transform='translate(26 24)' d='M0 0h40v40H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}/*# sourceMappingURL=mainStyle.css.map */