@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: "Noto Sans KR", sans-serif;
  color: #2A2A29;
  list-style-type: none;
  text-decoration: none;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  background: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html, body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

button, a, input[type=button], input[type=submit] {
  cursor: pointer;
}

blockquote, q {
  quotes: none;
}

p, span {
  cursor: default;
}

p {
  word-break: keep-all;
}

table, thead, tbody, th, td {
  border-collapse: collapse;
  border-spacing: 0;
  cursor: default;
}

html, body {
  width: 100%;
}
html .eatWrap, body .eatWrap {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
}
html .eatWrap .img1, body .eatWrap .img1 {
  position: absolute;
  bottom: 0;
  left: 0;
}
html .eatWrap .img2, body .eatWrap .img2 {
  position: absolute;
  bottom: 0;
  right: 0;
}
html .eatWrap .img3, body .eatWrap .img3 {
  position: absolute;
  top: 19.6rem;
  left: 24.3rem;
}
html .eatWrap .img4, body .eatWrap .img4 {
  position: absolute;
  top: 54.8rem;
  left: 160rem;
}
html .eatWrap .img5, body .eatWrap .img5 {
  position: absolute;
  top: 87.6rem;
  left: 42.6rem;
}
html .eatWrap .img6, body .eatWrap .img6 {
  position: absolute;
  top: 121rem;
  left: 9.7rem;
}
html .eatWrap .img7, body .eatWrap .img7 {
  position: absolute;
  bottom: 7rem;
  left: 150rem;
}
html .eatWrap .eatWrap2, body .eatWrap .eatWrap2 {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 15rem;
  margin-bottom: 25rem;
}
html .eatWrap .eatWrap2 > header, body .eatWrap .eatWrap2 > header {
  position: fixed;
  width: 100%;
  height: 8rem;
  background-color: white;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
html .eatWrap .eatWrap2 > header > div, body .eatWrap .eatWrap2 > header > div {
  width: 4rem;
  height: 4rem;
  background-color: #7B7B7B;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 6.4rem;
}
html .eatWrap .eatWrap2 > header > p, body .eatWrap .eatWrap2 > header > p {
  font-size: 2rem;
  margin-right: 6.4rem;
}
html .eatWrap .eatWrap2 > header, body .eatWrap .eatWrap2 > header {
  position: fixed;
  top: 0;
  z-index: 2000;
}
html .eatWrap .eatWrap2 .eatBox, body .eatWrap .eatWrap2 .eatBox {
  width: 54.4rem;
  height: 133.4rem;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
html .eatWrap .eatWrap2 .eatBox .eatBoxTitle, body .eatWrap .eatWrap2 .eatBox .eatBoxTitle {
  font-size: 4rem;
  font-weight: 700;
  color: #8DA1FB;
}
html .eatWrap .eatWrap2 .eatBox > form, body .eatWrap .eatWrap2 .eatBox > form {
  width: 54.4rem;
  height: 121.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
html .eatWrap .eatWrap2 .eatBox > form .eatInfo1, body .eatWrap .eatWrap2 .eatBox > form .eatInfo1 {
  width: 53.6rem;
  height: 38.2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 0.1rem solid #D4D4D4;
}
html .eatWrap .eatWrap2 .eatBox > form .eatInfo1 .eatInfo1Box1, body .eatWrap .eatWrap2 .eatBox > form .eatInfo1 .eatInfo1Box1 {
  width: 53.6rem;
  height: 10.8rem;
  border-radius: 1rem;
  border: 0.1rem solid #ECECEC;
  margin-bottom: 3.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
html .eatWrap .eatWrap2 .eatBox > form .eatInfo1 .eatInfo1Box1 > div, body .eatWrap .eatWrap2 .eatBox > form .eatInfo1 .eatInfo1Box1 > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
html .eatWrap .eatWrap2 .eatBox > form .eatInfo1 .eatInfo1Box1 > div > label, body .eatWrap .eatWrap2 .eatBox > form .eatInfo1 .eatInfo1Box1 > div > label {
  width: auto;
  height: 2.6rem;
  font-size: 1.8rem;
  padding-left: 2.4rem;
}
html .eatWrap .eatWrap2 .eatBox > form .eatInfo1 .eatInfo1Box1 > div > input, body .eatWrap .eatWrap2 .eatBox > form .eatInfo1 .eatInfo1Box1 > div > input {
  width: auto;
  height: 2.6rem;
  font-size: 1.8rem;
  line-height: 2.6rem;
  padding-left: 0.5rem;
}
html .eatWrap .eatWrap2 .eatBox > form .eatInfo1 .eatInfo1Box1 > div:first-child, body .eatWrap .eatWrap2 .eatBox > form .eatInfo1 .eatInfo1Box1 > div:first-child {
  margin-bottom: 0.8rem;
}
html .eatWrap .eatWrap2 .eatBox > form .eatInfo1 .eatInfo1Box2, body .eatWrap .eatWrap2 .eatBox > form .eatInfo1 .eatInfo1Box2 {
  width: 53.6rem;
  height: 18.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
html .eatWrap .eatWrap2 .eatBox > form .eatInfo1 .eatInfo1Box2 > p, body .eatWrap .eatWrap2 .eatBox > form .eatInfo1 .eatInfo1Box2 > p {
  width: auto;
  height: 2.6rem;
  font-size: 1.8rem;
  font-weight: 500;
  margin-left: 0.8rem;
}
html .eatWrap .eatWrap2 .eatBox > form .eatInfo1 .eatInfo1Box2 > input, body .eatWrap .eatWrap2 .eatBox > form .eatInfo1 .eatInfo1Box2 > input {
  width: 53.6rem;
  height: 7.2rem;
  padding-left: 1.5rem;
  font-size: 1.8rem;
  border-radius: 1.6rem;
  background-color: #F6F6F6;
}
html .eatWrap .eatWrap2 .eatBox > form .eatInfo1 .eatInfo1Box2 input[type=number]::-webkit-outer-spin-button,
html .eatWrap .eatWrap2 .eatBox > form .eatInfo1 .eatInfo1Box2 input[type=number]::-webkit-inner-spin-button, body .eatWrap .eatWrap2 .eatBox > form .eatInfo1 .eatInfo1Box2 input[type=number]::-webkit-outer-spin-button,
body .eatWrap .eatWrap2 .eatBox > form .eatInfo1 .eatInfo1Box2 input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
html .eatWrap .eatWrap2 .eatBox > form .eatInfo1 .eatInfo1Box2 > input::-moz-placeholder, body .eatWrap .eatWrap2 .eatBox > form .eatInfo1 .eatInfo1Box2 > input::-moz-placeholder {
  color: #CECECE;
}
html .eatWrap .eatWrap2 .eatBox > form .eatInfo1 .eatInfo1Box2 > input:-ms-input-placeholder, body .eatWrap .eatWrap2 .eatBox > form .eatInfo1 .eatInfo1Box2 > input:-ms-input-placeholder {
  color: #CECECE;
}
html .eatWrap .eatWrap2 .eatBox > form .eatInfo1 .eatInfo1Box2 > input::placeholder, body .eatWrap .eatWrap2 .eatBox > form .eatInfo1 .eatInfo1Box2 > input::placeholder {
  color: #CECECE;
}
html .eatWrap .eatWrap2 .eatBox > form .eatInfo1 .eatInfo1Box2 > input:first-child, body .eatWrap .eatWrap2 .eatBox > form .eatInfo1 .eatInfo1Box2 > input:first-child {
  margin-bottom: 0.8rem;
}
html .eatWrap .eatWrap2 .eatBox > form .eatInfo2, body .eatWrap .eatWrap2 .eatBox > form .eatInfo2 {
  width: 54.4rem;
  height: 83.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
html .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs, body .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs {
  width: 53.6rem;
  height: 75.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs .eatInfo2Box1, body .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs .eatInfo2Box1 {
  width: 53.6rem;
  height: 10.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
html .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs .eatInfo2Box1 > p, body .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs .eatInfo2Box1 > p {
  width: auto;
  height: 2.6rem;
  font-size: 1.8rem;
  font-weight: 500;
  margin-left: 0.8rem;
}
html .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs .eatInfo2Box1 > input, body .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs .eatInfo2Box1 > input {
  width: 53.6rem;
  height: 7.2rem;
  padding-left: 1.5rem;
  font-size: 1.8rem;
  border-radius: 1.6rem;
  background-color: #F6F6F6;
}
html .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs .eatInfo2Box1 input[type=number]::-webkit-outer-spin-button,
html .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs .eatInfo2Box1 input[type=number]::-webkit-inner-spin-button, body .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs .eatInfo2Box1 input[type=number]::-webkit-outer-spin-button,
body .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs .eatInfo2Box1 input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
html .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs .eatInfo2Box1 > input::-moz-placeholder, body .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs .eatInfo2Box1 > input::-moz-placeholder {
  color: #CECECE;
}
html .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs .eatInfo2Box1 > input:-ms-input-placeholder, body .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs .eatInfo2Box1 > input:-ms-input-placeholder {
  color: #CECECE;
}
html .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs .eatInfo2Box1 > input::placeholder, body .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs .eatInfo2Box1 > input::placeholder {
  color: #CECECE;
}
html .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs .eatInfo2Box2, body .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs .eatInfo2Box2 {
  width: 53.6rem;
  height: 10.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
html .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs .eatInfo2Box2 > p, body .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs .eatInfo2Box2 > p {
  width: auto;
  height: 2.6rem;
  font-size: 1.8rem;
  font-weight: 500;
  margin-left: 0.8rem;
}
html .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs .eatInfo2Box2 > input, body .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs .eatInfo2Box2 > input {
  width: 53.6rem;
  height: 7.2rem;
  padding-left: 1.5rem;
  font-size: 1.8rem;
  border-radius: 1.6rem;
  background-color: #F6F6F6;
}
html .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs .eatInfo2Box2 > input::-moz-placeholder, body .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs .eatInfo2Box2 > input::-moz-placeholder {
  color: #CECECE;
}
html .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs .eatInfo2Box2 > input:-ms-input-placeholder, body .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs .eatInfo2Box2 > input:-ms-input-placeholder {
  color: #CECECE;
}
html .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs .eatInfo2Box2 > input::placeholder, body .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs .eatInfo2Box2 > input::placeholder {
  color: #CECECE;
}
html .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs .eatInfo2Box3, body .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs .eatInfo2Box3 {
  width: 53.6rem;
  height: 18.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
html .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs .eatInfo2Box3 > p, body .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs .eatInfo2Box3 > p {
  width: auto;
  height: 2.6rem;
  font-size: 1.8rem;
  font-weight: 500;
  margin-left: 0.8rem;
}
html .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs .eatInfo2Box3 > input, body .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs .eatInfo2Box3 > input {
  width: 53.6rem;
  height: 7.2rem;
  padding-left: 1.5rem;
  font-size: 1.8rem;
  border-radius: 1.6rem;
  background-color: #F6F6F6;
}
html .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs .eatInfo2Box3 > input::-moz-placeholder, body .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs .eatInfo2Box3 > input::-moz-placeholder {
  color: #CECECE;
}
html .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs .eatInfo2Box3 > input:-ms-input-placeholder, body .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs .eatInfo2Box3 > input:-ms-input-placeholder {
  color: #CECECE;
}
html .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs .eatInfo2Box3 > input::placeholder, body .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs .eatInfo2Box3 > input::placeholder {
  color: #CECECE;
}
html .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs .eatInfo2Box4, body .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs .eatInfo2Box4 {
  width: 53.6rem;
  height: 17.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
html .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs .eatInfo2Box4 > p, body .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs .eatInfo2Box4 > p {
  width: auto;
  height: 2.6rem;
  font-size: 1.8rem;
  font-weight: 500;
  margin-left: 0.8rem;
}
html .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs .eatInfo2Box4 > textarea, body .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs .eatInfo2Box4 > textarea {
  width: 53.6rem;
  height: 14.4rem;
  padding: 1.5rem;
  font-size: 1.8rem;
  border-radius: 1.6rem;
  resize: none;
  background-color: #F6F6F6;
}
html .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs .eatInfo2Box4 > input::-moz-placeholder, body .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs .eatInfo2Box4 > input::-moz-placeholder {
  color: #CECECE;
}
html .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs .eatInfo2Box4 > input:-ms-input-placeholder, body .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs .eatInfo2Box4 > input:-ms-input-placeholder {
  color: #CECECE;
}
html .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs .eatInfo2Box4 > input::placeholder, body .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs .eatInfo2Box4 > input::placeholder {
  color: #CECECE;
}
html .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs > div:first-child, body .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs > div:first-child {
  margin-bottom: 1.6rem;
}
html .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs > div:nth-child(2), body .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs > div:nth-child(2) {
  margin-bottom: 1.6rem;
}
html .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs > div:nth-child(3), body .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBoxs > div:nth-child(3) {
  margin-bottom: 1.6rem;
}
html .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBtn, body .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBtn {
  width: 54.4rem;
  height: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
html .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBtn .eatInfoBtn1, body .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBtn .eatInfoBtn1 {
  width: 19.4rem;
  height: 8rem;
  font-size: 2.4rem;
  font-weight: 700;
  border-radius: 4rem;
  color: #fff;
  background-color: #D4D4D4;
}
html .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBtn .eatInfoBtn1:hover, body .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBtn .eatInfoBtn1:hover {
  background-color: #667CDD;
}
html .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBtn .eatInfoBtn2, body .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBtn .eatInfoBtn2 {
  width: 32.6rem;
  height: 8rem;
  font-size: 2.4rem;
  font-weight: 700;
  border-radius: 4rem;
  color: #fff;
  background-color: #8DA1FB;
}
html .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBtn .eatInfoBtn2:hover, body .eatWrap .eatWrap2 .eatBox > form .eatInfo2 .eatInfoBtn .eatInfoBtn2:hover {
  background-color: #667CDD;
}/*# sourceMappingURL=eat.css.map */