<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<!-- 이 XML 을 어떤 interface 하고 연결 할 것인가 -->
<mapper namespace="kr.co.gudi.dao.AdminDAO">

	<insert id="write" 
		useGeneratedKeys="true"
		keyColumn="idol_idx"
		keyProperty="idol_idx"
		parameterType="IdolDTO">
		INSERT INTO idol(idol_group, idol_name)
			VALUES(#{idol_group}, #{idol_name})
	</insert>
	
	<update id="imgFileUpload">
		UPDATE idol SET 
			idol_img_ori = #{param2}, 
			idol_img_new = #{param3}
		WHERE idol_idx = #{param1}
	</update>
	
	<update id="markFileUpload">
		UPDATE idol SET 
			idol_mark_ori = #{param2}, 
			idol_mark_new = #{param3}
		WHERE idol_idx = #{param1}
	</update>
	
	<select id="idolList" resultType="IdolDTO">
		SELECT * FROM idol WHERE idol_state=1 ORDER BY idol_idx DESC
	</select>
	
	<select id="eatList" resultType="EatDTO">
		SELECT * FROM eat WHERE eat_state=1 ORDER BY eat_idx DESC
	</select>
	
	<select id="userList" resultType="UserDTO">
		SELECT * FROM user WHERE user_state=1 ORDER BY user_idx
	</select>
	
	<select id="reviewList" resultType="ReviewDTO">
		SELECT * FROM review r, eat e  WHERE rev_state=1 and r.eat_idx = e.eat_idx  ORDER BY rev_idx;
	</select>
	
	<select id="revSearch" resultType="ReviewDTO">
		SELECT * FROM review r, eat e
		WHERE (e.eat_name LIKE #{param1} or r.rev_idx LIKE #{param1}
		or r.user_idx LIKE #{param1} or r.rev_content LIKE #{param1} or r.rev_date LIKE #{param1})
		and r.eat_idx = e.eat_idx
		ORDER BY r.rev_idx;
	</select>
	
	<select id="idolSearch" resultType="IdolDTO">
		SELECT * FROM idol 
		WHERE idol_name LIKE #{param1} or idol_group LIKE #{param1} or idol_idx LIKE #{param1} 
		ORDER BY idol_idx;
	</select>
	
	<select id="eatSearch" resultType="EatDTO">
		SELECT * FROM eat 
		WHERE eat_name LIKE #{param1} or idol_idx LIKE #{param1} or eat_idx LIKE #{param1} 
		or user_idx LIKE #{param1} or eat_date LIKE #{param1} 
		ORDER BY eat_idx;
	</select>
	
	<select id="memSearch" resultType="UserDTO">
		SELECT * FROM user 
		WHERE user_idx LIKE #{param1} or user_nick LIKE #{param1} or user_idx LIKE #{param1} 
		or user_name LIKE #{param1} or user_birth LIKE #{param1} 
		ORDER BY user_idx;
	</select>
	
	<select id="eatUser" resultType="EatDTO">
		select e.eat_date ,e.user_idx,u.user_nick  from eat e, user u 
		where e.user_idx = u.user_idx and e.eat_idx =#{param1}
	</select>
	
	<select id="eatData" resultType="EatDTO">
		select * from idol i,eat e 
			where eat_idx = #{param1} and i.idol_idx =e.idol_idx;
	</select>
	
	<select id="userDetail" resultType="UserDTO">
		select * from user 
			where user_idx = #{param1};
	</select>
	
	
	
	
<!-- 	<select id="eatList" resultType="EatDTO">
		SELECT e.eat_idx, e.eat_name, i.idol_name, u.user_id, e.eat_date 
		FROM idol i, eat e, user u 
		WHERE (e.idol_idx  = i.idol_idx) and (e.user_idx = u.user_idx) and e.eat_state=1 
		ORDER BY e.eat_idx DESC ;
	</select> -->
</mapper>
















